.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow-y: scroll;

  background-color: var(--white-text-color-1);
  padding: 48px 40px;
  transform: translateX(100%) translateY(-100%);

  @include transition(transform);

  &.is-open {
    transform: translateX(0) translateY(0);
  }
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  min-width: 40px;
  min-height: 40px;
  border: none;
  background-color: inherit;
  display: block;
  margin-left: auto;
  padding: 0;

  @include transition(fill);

  &:hover {
    fill: var(--blue-color);
  }

  @media (min-width: $min-tablet-bp) {
    display: none;
  }

  &__icon {
    display: block;
    margin: auto;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 64px;
  min-height: 500px;

  &__list {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    // margin-bottom: 302px;
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    text-decoration: none;
    color: inherit;

    @include transition(color);

    &--active {
      color: var(--blue-color);
    }

    &:hover {
      color: var(--blue-color);
    }
  }
}

.mobile-contacts {
  margin: 0;
  padding: 0;
  // margin-bottom: 64px;

  @include transition(color);

  &__item:first-child {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--blue-color);
    margin-bottom: 32px;
  }

  &__item:last-child:hover {
    color: var(--blue-color);
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}

.mobile-social {
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }

  &__link {
    text-decoration: none;
    color: var(--blue-color);
  }
}
